.admin_input_section {
    width: 80%;
    padding: 0.6rem;
    margin: 0.5rem;
}

.admin_input_section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #2c2c2c;
}



.admin_checkbox_section {
    border-radius: 8px;
    background-color: #2c2c2c;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    margin: 0.5rem;
}