.header {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    border-bottom: 2px inset #34B8FF;
    width: 100dvw;
}

.header a {
    width: 20%;
    margin-top: 0.5%;
}
.logo_panelinha{
    width: 80%;
    border-radius: 30px;
    margin: 2% auto;
    
};

